<template>
    <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
            <v-flex xs4 v-for="(project, index) in projects" :key="project.userid">
                <v-expansion-panel>
                    <v-expansion-panel-content>
                    <div slot="header">{{ project.dataChannel.project }}</div>
                    <v-card>
                        <v-card-text class="grey lighten-4">User : {{ project.userid }}</v-card-text>
                        <v-card-text class="grey lighten-4">Channel ID : {{ project._id }}</v-card-text>
                        <v-card-text class="grey lighten-4">Deskripsi : {{ project.dataChannel.deskripsi }}</v-card-text>
                    </v-card>
                    <div class="custom__button" @click="postData2(index)">SHOW PROJECT</div>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
              </v-flex>
          </v-layout>
      </v-container>
</template>
<script>
import axios from "axios";
export default {
  methods: {
    fetchData: function() {
      axios
        .get("https://goiot.id/api/channel/GetChannelPublikNonPaginate")
        .then(response => {
          this.projects = response.data.payload.data;
          //   console.log(this.projects);
        })
        .catch(error => {
          console.log(error);
        });
    },
    postData2: function(params) {
      let channelID = this.projects[params]._id;
      let listTags = [];
      let dataTags = this.projects[params].dataTags;
      dataTags.forEach(function(list) {
        listTags.push(list.namaTags);
      });
      // console.log(listTags)

      axios
        .post("https://goiot.id/api/mikro/GetRealtimeValTagsPublik", {
          channelID,
          listTags
        })
        .then(response => {
          let res = {};
          res.data = response.data.payload.data;
          res.type = listTags;
          sessionStorage.setItem("postResponse", JSON.stringify(res));
          //   var test = sessionStorage.getItem("postResponse");
          //   var test2 = JSON.parse(test);
          //   console.log(test2);
          this.$router.push({
            path: "channel/publikdetail",
            query: { channelid: params }
          });
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  created() {
    sessionStorage.clear();
    this.fetchData();
  },
  data() {
    return {
      projects: []
    };
  }
};
</script>
<style scoped>
.custom__button {
  text-align: center;
  line-height: 50px;
  color: white;
  background: #039be5;
  font-weight: 500;
  cursor: pointer;
}
</style>
