<template>
    <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
            <v-flex xs6 v-for="(item) in detail.type" :key="item">
                <v-card>
                    <v-card-text class="px-0">
                        <div>{{ item }}</div>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
export default {
  mounted () {
    this.detail = JSON.parse(sessionStorage.getItem("postResponse"))
    console.log('type data', this.detail)
  },
  data() {
    return {
        detail: {}
    };
  }
}
</script>
